@import url("/styles/global.css");

html{
  height:100%; 
}

body{
  background-image: url("media/thing2.png");
  animation: scrolling 5s linear infinite;
  
  margin: 0;
  height: 100%;
}

@keyframes scrolling{
  from{
    background-position: 0 0;
  }
  to{
    background-position: 128px 128px;
  }
} 

#container-top{
  display:grid;
  grid-template-rows: 3vh 1fr 3vh;
  
  height:100%
}

#header{
  background-color: black;
  
  #site-title{
    font-size: 16pt;
    margin:0;
    padding:10% 0 0 2%;
    text-decoration: none;
    color: var(--kLight);
    img{
      height:100%;
      float:left;
      padding-left:1%;
    } 
  }

  nav{
    float: right;
    padding: 4px 20px 4px 20px;
    a{
      font-size: 14px;
      text-decoration: none;
      color: var(--kLight);
      &:hover{
        filter:opacity(60%);
      }
    }
  }
}


#footer{
  background-color: black;
  padding-top:.3vh;
  
  #copyright{
    display:block;
    position:absolute;
    right:0px;
    
    font-size: 14px;
    margin:0;
    color: gray;
  }
  #news-title{
    color:gray;
    margin:0; 
    float: left;
    padding-right:10px;
    padding-left:20px;
  }
  #news{
    display:inline-block;
    position:absolute;
    
    background-color: #202020;
    
    text-align: center;
    color:gray;
    width:400px;
    marquee p
    {
      display: inline;
    }
  }
}

#middle{
  display:grid;
  grid-template-columns: 1fr 5fr 1fr;
}

#content{
  margin:0;
  padding: 10px 30px 10px 30px;
  box-sizing:border-box;
  
  box-shadow: 0px 0px 67px 6px rgba(0,0,0,0.75);
  background-color: var(--kDark);
  #contentarea{
    margin:0;
    width:100%;height:100%;
  }
}
#innercontent{
  
  color: var(--kLight);
  text-align:justify;
  word-wrap:break-word;
  
  #pagetitle{
    margin-top:0;
  }
}